
@font-face {
    font-family: day;
    src: url(../font/font-1/DaysOne-Regular.ttf);
}
@font-face {
    font-family: cha;
    src: url(../font/font-2/Chakra_Petch/ChakraPetch-Bold.ttf);
}
.green{
    color: 
rgb(203, 254, 28);
}
.bg-green{
    background-color:rgb(203, 254, 28) ;
}
.but-border{
    border: 2px solid rgb(203, 254, 28);
}
.font{
    font-family: day;
    font-weight: 700;
}
.fw-but{
    font-weight: 700;
    font-size: 12px;
}
.font-size{
    font-size: 13.5px;
    font-weight: 400;
    font-family:cha;
}
.gray-p{
    color: rgb(190, 188, 188);
}
.hover{
    color: rgb(203, 254, 28);
}
.hover:hover{
color: rgb(203, 254, 28);
}
.wit{
    width: 110%;
}
.mt-10{
    margin-top: 65px;
}
.bb{
    background-color: rgba(0, 0, 0, 0.819);
}
.inset{
    inset: 0;
}
.h1{
font-family: day;
font-size:32px;
font-weight: 700;
}
.font-span{
    font-size: 11px;
    font-weight:700 ;
    font-family: cha;
}
.hov{
        width:450px;
    height: 400px;
    border-radius: 20px;
    overflow: hidden;

}
.hov img{
       width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
        transition: transform 0.4s;
}

.border-but{
border: 2px solid greenyellow;
background-color: black;
transition:background-color 0.1s ,color 0.1s ;
}
.border-but:hover{
background-color:greenyellow;
color: black;
}
.jj{
    opacity: 0;
transition: opacity 0.4s , border 0.3s, background 0.6s;
background: linear-gradient(to bottom ,transparent,transparent ,yellow);
}
.jj:hover{
    opacity: 1;
    border: 2px solid  rgb(203, 254, 28) ;
}
.jj:hover .transform{
     transform: translateY(0px)
}
.jj:hover .transform-1{
    transform: translateY(0px);
}

.ll:hover img{
    transform: scale(1.1,1.1);
} 

.transform{
    transition: transform 0.4s;
    transform: translateY(-50px);
}
.transform-1{
      transform: translateY(50px);
       transition: transform 0.4s;
}
.card{
    width:450px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    border: 3px solid greenyellow;
}
.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.bor{
    border: 1px solid rgb(87, 85, 85);
}
.play{

    bottom: -10px;
    left: 0;
}
.h2{
    font-family: cha;
    font-weight: 700 ;
    font-size: 14px;
    display: flex;
justify-content: center;
    align-items: center;
    gap: 10px;
}
.h2::after{
content:'';
width: 30px;
height: 2px;
background:linear-gradient(to left, black,rgb(222, 255, 33),rgb(222, 255, 33));
display: inline-block;


}
.h2::before{
    content:'';
   
width: 30px;
height: 2px;
background:linear-gradient(to right, black,rgb(222, 255, 33),rgb(222, 255, 33));
display: inline-block;
}



.w-90{
    width: 90%;
}
.text-align{
    text-align: center;
}
.sss{
    width: 100%;
  
}
.back{
    height: 100vh;
    background-image: url(../img/hero-bg.jpg);
    background-position: center;
    background-size: cover;
}

.ee{
    overflow: hidden;
    height: 350px;
}
.ee img{
        width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.grid{
    display: grid;
    grid-template-areas: 
    "pc mo"
    "pl so"
    "de to "
    "ps 3d"
    ;
    gap: 20px;
}
.w-100px{
    width: 100px;
}
.sol{

    font-weight: 700;
    font-family: day;
}
.after:hover{
border: 1px solid greenyellow;
}
.after{
    transition: border 0.3s ;
}
.after:hover::after{
    transform: translate(80px,30px);
   
}

.after::after{
    content: '';
    border: 20px solid rgb(193, 252, 74);
border-top: 0px;
border-left: 0px;

   transform: translate(180px,180px );
     transition: transform 0.3s;
}
.after i{
    transition: background-color 0.3s ,color 0.3s;
}




.after:hover i{
background-color: greenyellow !important;
color: black;

}
.after:hover::before{
    transform: translate(-80px ,-30px);
}
.bor img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.after::before{
     content: '';
    border: 20px solid rgb(193, 252, 74);
border-top: 0px;
border-left: 0px;

   transform: translate(-150px,-120px );
     transition: transform 0.3s;
}


.logos-section{
    width: 100%;
    overflow: hidden;
    padding: 50px 0;

    background: linear-gradient(to right ,black ,black,black ,greenyellow)
    
    ;
}

.slider{
    width: 100%;
    overflow: hidden;
    margin: 20px 0;
}

.slide-track{
    display: flex;
    width: max-content;
    gap: 20px;
}

.slide-track img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 20px;
    flex-shrink: 0;
}

/* الصف العلوي */
.left{
    animation: scrollLeft 40s linear infinite;
}

/* الصف السفلي */
.right{
    animation: scrollRight 40s linear infinite;
}

@keyframes scrollLeft{
    from{
        transform: translateX(0);
    }

    to{
        transform: translateX(calc(-50% - 10px));
    }
}

@keyframes scrollRight{
    from{
        transform: translateX(calc(-50% - 10px));
    }

    to{
        transform: translateX(0);
    }
}


.line{
    width: 300px;
    height: 2px;
    margin: 100px auto;
    border-radius: 50px;

    background: linear-gradient(to right ,black ,#c6ff00,#c6ff00,#c6ff00,#c6ff00,#c6ff00,black);

    box-shadow:
        0 0 5px #c6ff00,
        0 0 10px #c6ff00,
        0 0 20px #c6ff00,
        0 0 40px rgba(198,255,0,.7);
}
.bg{
    font-size: 42px !important;
    font-weight: 700;
    font-family: day;
}
.team-1{
    width: 400px;
    height: 300px;
    overflow: hidden;
}
.team-1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
 
}

.te{
  filter:grayscale(100%);
transition: filter 0.3s linear ;
}
.te:hover{
  filter:grayscale(0%);
}

.our{
  font-weight: 700;
  font-family: day;
}
.pro{
    font-size: 14px;
    font-weight: 400;
    font-family: cha;
}
.wor{
    font-size: 11px;
}
.ph{
    transform: rotate(90deg);
    margin-bottom: 40px;
    font-family: cha;
    font-weight: 700;
}
.j{
    font-size: 21px;
    font-weight: 700;
    font-family: day;
}
.c{
    font-size: 14px;
    font-family: cha;
}
.joi{
    background: linear-gradient(to left ,rgb(12, 255, 12) ,rgb(208, 255, 0));
}
.in{
    border: 1px solid rgb(134, 132, 132);
    background-color:#364153;
}
.in:hover{
    border-color: yellowgreen;
}
.send{
    background-color: #1e2939;
}
.h{
    font-size: 12px;
    font-weight: 700;
    font-family: cha;
}
.fl{
    transition: color 0.4s !important;
}
.fl:hover{
color: yellowgreen !important;
}
.ff{
    transition:background-color 0.3s ,color 0.3s ;
}
.ff:hover{
    color: #c6ff00 !important;
    background-color: rgb(141, 143, 143) !important;
}
.dr{
    transition:background-color 0.2s ;
}
.dr:hover{
    background-color: rgba(75, 225, 95, 0.875);
}
.dr{
        transition:background-color 0.3s , color 0.3 !important;

}
.dr-1:hover{
    background-color: #c6ff00 !important;
    color: black;
}
@media (min-width: 500px){
.width-1{
    width: 100%;
}
}
@media (min-width: 1020px){
.w{
    width: 50%;
}
}
@media (min-width: 990px){
    .but button  {
        padding-block: 20px !important;
        
    }
    .w-50{
        width: 50%;
    }
    .width-2{
        width: 30%;
    }
    .lorem h1{
        font-size: 60px;
    }
    .gray-p{
        font-size: 16px;
        text-align: start;
    }
    .card{
          width:450px;
    height: 350px;
    }

.but-1{
width: 20% !important;


}
.vule{

display: flex;
flex-direction: column;

}
.grid{
     grid-template-areas: 
    "pc mo pl so"
    "de to ps 3d"
    
    ;
}
}
@media (min-width: 1280px){
.card{
 width: 550px;
 height: 350px;
}
.w-xl{
    width: 50%;

}
}
@media (min-width: 1500px){
    .card{
        width: 600px;   
    }
    .play{
        left: 50px;
    }

}

